/.gradle/
/build/
/javaconfig.json
/javac-services.*.log
/javac-services.*.log.lck
/node_modules/
/npm-debug.log
/classpath.txt
/bin/
/.classpath
/.project
/.settings/org.eclipse.buildship.core.prefs
/.serverless
/gradle.properties
/buildSrc/.settings/org.eclipse.buildship.core.prefs
/buildSrc/bin
/buildSrc/build
/buildSrc/.classpath
/buildSrc/.project
/buildSrc/.gradle

/lambda-request-handler/.classpath
/lambda-request-handler/.project
/lambda-request-handler/.settings/org.eclipse.buildship.core.prefs
/lambda-request-handler/bin/
/lambda-request-handler/build/
